# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Turbo
.turbo

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

**/*.vue.js
**/*.ts.js
tsconfig.tsbuildinfo
nuxt.config.js
uno.config.js

# Local env files
.env
.env.*
!.env.example
